<!-- Om man inte är inloggad visas detta -->
<div class="loginForm" *ngIf="!userName">
<form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="form-group">
    <label for="email">Email</label>
      <input type="email"
        id="email"
        [(ngModel)]="user.email"
        class="form-control"
        name="email"
        #email="ngModel"
        required
        email>
      <div class="alert alert-danger mt-1" [hidden]="email.valid ||  email.untouched">
        Type an correct email address!
      </div>
    <label for="password" class="mt-2">Password</label>
      <input type="password"
        [(ngModel)]="user.password"
        class="form-control"
        name="password"
        minlength="10"
        #password="ngModel"
        required
        >
        <div class="alert alert-danger mt-1" [hidden]="password.valid ||  password.untouched">
          You're password must contain at least 10 characters!
        </div>

    <button type="submit" class="btn btn-success mt-2" [disabled]="!userForm.form.valid">Login</button>
    <button type="button" class="btn btn-primary ml-2 mt-2" routerLink="/createuser">Create a new user</button>
  </div>
</form>
</div>

<app-modal *ngIf="modalOrNot" [inputString]="modalInputString"></app-modal>

<div class="loginForm" *ngIf="userName">
  <div class="form-group">
    <label for="exampleInputPassword1">You're already signed in.</label>
  </div>

  <button type="button" class="btn btn-primary" (click)="logout()" routerLink="/">Logout</button>
</div>
