.loginForm {
  width: 500px;
  min-height: 220px;
  background-color: #eee;
  margin: 2em;
  padding: 1em;
  border-radius: 5px;
}

.ng-invalid:not(Form).ng-touched:not(Form) {
  border: 1px solid red;
}
